[submodule "doc/Statistics_For_Business_and_Economics_13th_Edition"]
	path = doc/Statistics_For_Business_and_Economics_13th_Edition
	url = https://github.com/StephenehpetS/Statistics_For_Business_and_Economics_13th_Edition
[submodule "doc/Statisticss-Business-Economics"]
	path = doc/Statisticss-Business-Economics
	url = https://github.com/StephenehpetS/Statistics_For_Business_and_Economics_13th_Edition
