# python>=3.9
jupyter-book>=2.0.0b2
numpy
pandas
matplotlib
scikit-learn
seaborn
scipy
statsmodels
pingouin
# python3-sphinx
# jupytext
# sphinx-click
# sphinx-inline-tabs
# sphinxext-rediraffe
# sphinx-proof
